@font-face {
  font-family: 'Ortica';
  src: url('fonts/Ortica-Light.woff2') format('woff2'),
      url('fonts/Ortica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ortica-Bold';
  src: url('fonts/Ortica-Bold.woff2') format('woff2'),
      url('fonts/Ortica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

