root {
  /* colours */
  --black: #000;
  --white: #fff;
  --grey: #4E4E4E;
  --bg: #F9F5F0;
  --peach: #CB9673;

  /* padding/margins */
  --gutter-mobile: 30px 40px;
  --gutter-desktop: 40px 60px;

  /* shadows */
  --shadow: 0 2px 8px -1px rgba(#151924, .32);
  --shadow-hover: 0 4px 20px -2px rgba(#151924, .5);
  
}

body {
  background-color: var(--bg);
  font-family: 'Ortica';
  height: auto !important;
  min-height: 100vh;
  color: var(--black);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;background-color: #ffffff;
  opacity: 0.4;
  background-image: radial-gradient(circle at center center, #f1f1f1, #ffffff), repeating-radial-gradient(circle at center center, #f1f1f1, #f1f1f1, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}