@font-face {
  font-family:"lust-didone";
  src:url("https://use.typekit.net/af/efee7d/00000000000000000001430f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efee7d/00000000000000000001430f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efee7d/00000000000000000001430f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"ff-tisa-sans-web-pro";
  src:url("https://use.typekit.net/af/bd97f0/00000000000000003b9b078f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/bd97f0/00000000000000003b9b078f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/bd97f0/00000000000000003b9b078f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:100;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "ff-tisa-sans-web-pro";
  color: #313335;
}

h1, .home {
  font-weight: 300;
  font-family: 'lust-didone';
}